*.class
*.war
*.ear
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.DS_Store
._*
.Spotlight-V100
.Trashes
application.linux/
application.macosx/
application.windows/
data/config.json
preferences.txt